Package: com.ps.blobsterhack
Name: Blobster Hack
Depends: mobilesubstrate, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Hack Blobster!
Author: PoomSmart
Maintainer: PoomSmart
Section: Hacks
